/*using pseudo-code to change colors of the links when the user engages with them*/
a:link {color: green;}
a:visited {color: blue;}
a:hover {color: darkmagenta;}
a:active {color: maroon;}

/*styling both the header and the footer the same way*/

header, footer {
  background: lavender;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  color: black;
  margin: 5px;
  padding: 5px;
  width: 100%;
  height: 1.5in;
}

/*styling the navigation tab*/
header nav {
  display: flex;
  width: 100%;
}

header nav ul {
  display: flex;
  width: 100%
}

body {
  width: 100%;
}
/*styling the main container*/

main {
  background: lightgrey;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  display: inline-block;
  width: 100%;
}

.group {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

form label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: black;
  font-family: arial;
}

form textarea {
  height: 4.75rem;
  width: 50%;
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
}

@media all and (min-width=600px) {
  p {
    font-size: 16px;
  }
  
  .group {
  display: flex;
  margin-bottom: 100px;
}
}
  
