/*using pseudo-code to change colors of the links when the user engages with them*/
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

a:link {color: green;}
a:visited {color: blue;}
a:hover {color: darkmagenta;}
a:active {color: maroon;}

/*styling both the header and the footer the same way*/
.home, .about, .contact, .work {
  margin: 72px auto;
  max-width: 900px;
}

.contact ul {
  display: flex;
  font-size: 18px;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

.title {
  max-width: 900px;
}


header, footer {
  background: lavender;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  color: black;
  /* margin: 5px; */
  padding: 5px;
  width: 100%;
  height: 1.5in;
}

footer {
  height: 0.75in;
}

/*styling the navigation tab*/
header nav {
  display: flex;
  width: 100%;
  justify-content: center;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  margin: 0 20px 0 0;
}


/*styling the main container*/

main {
  background: lightgrey;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  display: inline-block;
  width: 100%;
}

.group {
  display: flex;
  flex-wrap: wrap;
  /* width: 100%; */
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

input, textarea {
  display: block;
  width: 50%;
  margin-bottom: 12px;
  padding: 12px;
  font-family: inherit;
  font-size: inherit;
}

/* form {
  margin-left: 15%;
  margin-right:15%;
  width: 70%;
} */

form label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: black;
  font-family: arial;
}

/* form textarea {
  height: 4.75rem;
  width: 50%;
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
} */

form button {
  text-align: left;
}
@media (max-width: 768px){
  body {
    padding: 0;
  }

   .home, .about, .contact {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (max-width: 576px){
  body {
    font-size: 20px;
  }

  .contact ul {
    font-size: 18px;
  }
  input, textarea {
    /* display: block; */
    width: 100%;
    /* margin-bottom: 12px;
    padding: 12px;
    font-family: inherit;
    font-size: inherit; */
  }

  .item {
    text-align: center;
  }

  .item, .item-double {
    flex: 100%;
  }
  .home, .about, .contact {
    padding-left: 18px;
    padding-right: 18px;
  }
}
/* @media all and (min-width: 600px) {
  main {
    display: flex;
  }
  
    header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  header h1 {
    display: flex;
    margin: 14px 0;
    padding-top: 0;
  }
  
  p {
    font-size: 16px;
  }
  
  .group {
  display: flex;
  margin-bottom: 100px;
  width: 100%;
}
} */
  
